@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-serif: "Playfair Display", serif; /* til overskrifter */
    --font-sans: "Lora", serif; /* til brødtekst */
    --font-mono: monospace; /* behold til evt. kode */
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius: 0.75rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --color-destructive-foreground: var(--destructive-foreground);
}

:root {
    --radius: 0.5rem;
    --background: oklch(0.9414 0.0298 12.5805);
    --foreground: oklch(0.3741 0.0087 67.5582);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3741 0.0087 67.5582);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3741 0.0087 67.5582);
    --primary: oklch(0.645 0.2154 16.4393);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9443 0.0219 14.07);
    --secondary-foreground: oklch(0.3741 0.0087 67.5582);
    --muted: oklch(0.9443 0.0219 14.07);
    --muted-foreground: oklch(0.5534 0.0116 58.0708);
    --accent: oklch(0.9443 0.0219 14.07);
    --accent-foreground: oklch(0.3741 0.0087 67.5582);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --border: oklch(0.8897 0.0418 12.4351);
    --input: oklch(0.8897 0.0418 12.4351);
    --ring: oklch(0.645 0.2154 16.4393);
    --chart-1: oklch(0.645 0.2154 16.4393);
    --chart-2: oklch(0.7192 0.169 13.428);
    --chart-3: oklch(0.8097 0.1061 11.6385);
    --chart-4: oklch(0.8924 0.0559 10.0008);
    --chart-5: oklch(0.9414 0.0298 12.5805);
    --sidebar: oklch(1 0 0);
    --sidebar-foreground: oklch(0.3741 0.0087 67.5582);
    --sidebar-primary: oklch(0.645 0.2154 16.4393);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9443 0.0219 14.07);
    --sidebar-accent-foreground: oklch(0.3741 0.0087 67.5582);
    --sidebar-border: oklch(0.8897 0.0418 12.4351);
    --sidebar-ring: oklch(0.645 0.2154 16.4393);
    --destructive-foreground: oklch(1 0 0);
    --font-serif: "Playfair Display", serif; /* til overskrifter */
    --font-sans: "Lora", serif; /* til brødtekst */
    --font-mono: monospace; /* behold til evt. kode */
    --shadow-color: #000000;
    --shadow-opacity: 0.05;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 4px;
    --letter-spacing: 0px;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.05),
        0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.05),
        0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.05),
        0px 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.05),
        0px 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.05),
        0px 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.13);
    --tracking-normal: 0px;
}

.dark {
    --background: oklch(0.2908 0.0928 18.1985);
    --foreground: oklch(0.9414 0.0298 12.5805);
    --card: oklch(0.3362 0.1111 18.1227);
    --card-foreground: oklch(0.9414 0.0298 12.5805);
    --popover: oklch(0.3362 0.1111 18.1227);
    --popover-foreground: oklch(0.9414 0.0298 12.5805);
    --primary: oklch(0.645 0.2154 16.4393);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.3832 0.1286 18.5858);
    --secondary-foreground: oklch(0.9414 0.0298 12.5805);
    --muted: oklch(0.3832 0.1286 18.5858);
    --muted-foreground: oklch(0.8897 0.0418 12.4351);
    --accent: oklch(0.3832 0.1286 18.5858);
    --accent-foreground: oklch(0.9414 0.0298 12.5805);
    --destructive: oklch(0.4437 0.1613 26.8994);
    --border: oklch(0.4282 0.1464 18.1321);
    --input: oklch(0.4282 0.1464 18.1321);
    --ring: oklch(0.645 0.2154 16.4393);
    --chart-1: oklch(0.645 0.2154 16.4393);
    --chart-2: oklch(0.7192 0.169 13.428);
    --chart-3: oklch(0.8097 0.1061 11.6385);
    --chart-4: oklch(0.8924 0.0559 10.0008);
    --chart-5: oklch(0.9414 0.0298 12.5805);
    --sidebar: oklch(0.3362 0.1111 18.1227);
    --sidebar-foreground: oklch(0.9414 0.0298 12.5805);
    --sidebar-primary: oklch(0.645 0.2154 16.4393);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.3832 0.1286 18.5858);
    --sidebar-accent-foreground: oklch(0.9414 0.0298 12.5805);
    --sidebar-border: oklch(0.4282 0.1464 18.1321);
    --sidebar-ring: oklch(0.645 0.2154 16.4393);
    --destructive-foreground: oklch(0.9414 0.0298 12.5805);
    --radius: 0.5rem;
    --font-serif: "Playfair Display", serif; /* til overskrifter */
    --font-sans: "Lora", serif; /* til brødtekst */
    --font-mono: monospace; /* behold til evt. kode */
    --shadow-color: #000000;
    --shadow-opacity: 0.5;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 4px;
    --letter-spacing: 0px;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
    --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
    --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.5),
        0px 1px 2px -1px hsl(0 0% 0% / 0.5);
    --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.5),
        0px 1px 2px -1px hsl(0 0% 0% / 0.5);
    --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.5),
        0px 2px 4px -1px hsl(0 0% 0% / 0.5);
    --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.5),
        0px 4px 6px -1px hsl(0 0% 0% / 0.5);
    --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.5),
        0px 8px 10px -1px hsl(0 0% 0% / 0.5);
    --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 1.25);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }
}
